<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id="svc" class="part01_basic.OracleImp"></bean> -->
	<bean id="svc" class="part01_basic.MysqlImp"></bean>
	<!-- 인자값 없는 기본 생성자를 객체로 생성함 -->
	
	
</beans>
